[Unit]
Description=LaBase Trading Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/workspaces/labase-trading-alerts
ExecStart=/usr/bin/python3 /root/labase-trading-alerts/trade_breakout_paper.py
Restart=always
RestartSec=10

# (Sécurité systemd désactivée pour compatibilité maximale)

# Limite les accès
ReadWritePaths=/workspaces/labase-trading-alerts/logs /workspaces/labase-trading-alerts

[Install]
WantedBy=multi-user.target
